window#waybar {
  background-color: transparent;
  transition-property: background-color;
  transition-duration: 0.3s;
}

window#waybar.hidden {
  opacity: 0.5;
}

#workspaces {
  background-color: transparent;
}

.modules-left #workspaces button,
.modules-left #workspaces button.focused,
.modules-left #workspaces button.active,
.modules-center #workspaces button,
.modules-center #workspaces button.focused,
.modules-center #workspaces button.active,
.modules-right #workspaces button,
.modules-right #workspaces button.focused,
.modules-right #workspaces button.active {
    border-bottom: none;
}

#memory,
#bluetooth,
#battery,
#backlight,
#wireplumber,
#network,
#clock,
#custom-lock,
#custom-power,
#custom-quit,
#custom-reboot,
#custom-vpn,
#tray {
  border-radius: 4px;
  margin: 6px 3px;
  padding: 6px 12px;
}

#bluetooth.disabled, #bluetooth.off {
    color: @base08;
}

#bluetooth.on {
    color: @base06;
}

#bluetooth.connected {
    color: @base0B;
}

#bluetooth.discovering {
    color: @base0A;
}

#custom-vpn.tailnet {
    color: @base0D;
    background-color: transparent;
}
#custom-vpn.connected {
    color: @base0B;
    background-color: transparent;
}
#custom-vpn.disconnected {
    color: @base08;
    background-color: transparent;
}
#custom-power {
    color: @base0D;
    background-color: transparent;
}

#custom-quit, #custom-lock, #custom-reboot {
    color: @base08;
    background-color: transparent;
}
