[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Exec=/home/willian/.my-nix-os/users/willian/desktop-entries/wowup/run.sh
Name=Wow Up
Icon=/home/willian/.my-nix-os/users/willian/desktop-entries/wowup/Icon.png
